/**General**/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

.nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 3rem;
    flex: 1;
}

.nav-menu ul {
    display: flex;
    gap: 1.8rem;
    list-style: none;
}

.nav-menu ul a {
    text-decoration: none;
    color: #053477;
}

.title-contenedor1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 2rem;
    margin-top: 10rem;
    top: 15rem;
    left: 10.5rem;
}

.title1 {
    flex: 1;
}

.title1 h1 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 0;
    margin-bottom: .3rem;
    font-weight: 300;
    font-size: 3rem;
}

.title1 h1 + h1 {
    display: flex;
    justify-content: flex-start;
    color: yellow;
    margin-top: 0;
    margin-bottom: .3rem;
    margin-top: 0;
    font-weight: 300;
    font-size: 4rem;
}

.vinilo1 {
    position: absolute;
    width: 25%;
}

.sobre-nosotros {
    background-color: black;
    height: 25rem;
    width: 68rem;
    margin-left: 30rem;
    margin-top: 10rem;
    justify-content: center;
    position: absolute;

}

.t-nosotros {
    display: flex;
    justify-content: center;
    color: yellow;
}

.sobre-nosotros h2 {
    font-size: 4rem;
    color: yellow;
}

.sobre-nosotros p{
    color: white;
    text-align: center;
    margin-bottom: -1rem;
}

.boton-nosotros{
    background-color: yellow;
    color: black;
    padding: 1rem 2rem;
    margin-left: 20rem;
    margin-bottom: 7rem;
    text-decoration: none;
    width: 7rem;
    display: inline-block;
    text-align: center;
}

.boton-nosotros a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 2rem;
}

.seccion-contactos {
    width: 75rem;
    height: 58rem;
    margin: 8rem auto 0 auto;
    text-align: center;
    position: relative;
    top: 50rem;
}

.encabezado-contactos {
    color: #f4b400;
    font-size: 3.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.formularios {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 34rem;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formularios label {
    margin-bottom: 0.3rem;
    display: block;
    font-weight: 500;
}